<div class="container m-auto bg-gray-800 w-full py-10">
    <h1 class="text-center text-white text-7xl font-bold p-4">Resume</h1>
    <div class="p-4 md:w-8/12 mx-auto my-1 bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex justify-between items-center mb-4">
            <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Education</h5>
        </div>
        <div class="flow-root">
            <ul role="list" class="">
                <li class="py-1">
                    <div class="flex items-center justify-between flex-wrap">
                        <p class="text-sm font-medium text-gray-900  dark:text-white">
                            University of Massachusetts Lowell - Lowell, MA
                        </p>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            Anticipated May 2024
                        </div>
                    </div>
                </li>
                <li class="py-1">
                    <p class="text-sm text-gray-500  dark:text-gray-400">
                        Candidate for Bachelor of Science in Computer Science
                    </p>
                </li>
                <li class="py-1">
                    <p class="text-sm text-gray-500  dark:text-gray-400">
                        Minor in Mathematical Sciences
                    </p>
                </li>
                <li class="py-1">
                    <p class="text-sm text-gray-500  dark:text-gray-400">
                        Relevant Coursework: Computing 1-4, Assembly Programming, Discrete Structures 1-2, Linear Algebra 1-2, Calculus 2-3
                    </p>
                </li>
                <li class="py-1">
                    <p class="text-sm text-gray-500  dark:text-gray-400">
                        Awards and Activities: UML Immersive Scholar, Dean's List
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="p-4 md:w-8/12 mx-auto my-1 bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex justify-between items-center mb-4">
            <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Skills</h5>
        </div>
        <div class="flow-root">
            <ul role="list" class="">
                <li class="py-1">
                    <p class="text-sm text-gray-500  dark:text-gray-400">
                        Programming Languages: C/C++, Python, Java, TypeScript, HTML, CSS
                    </p>
                </li>
                <li class="py-1">
                    <p class="text-sm text-gray-500  dark:text-gray-400">
                        Frameworks: Angular
                    </p>
                </li>
                <li class="py-1">
                    <p class="text-sm text-gray-500  dark:text-gray-400">
                        Laboratory: UML NERVE Human Robot Interaction Laboratory
                    </p>
                </li>
                <li class="py-1">
                    <p class="text-sm text-gray-500  dark:text-gray-400">
                        Certifications: CITI Program: Social & Behavioral Research
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="p-4 md:w-8/12 mx-auto my-1 bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex justify-between items-center mb-4">
            <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Projects</h5>
        </div>
        <div class="flow-root">
            <ul role="list" class="">
                <li class="py-1">
                    <p class="text-sm font-medium text-gray-900  dark:text-white">
                        Recipe and Shopping List Angular Website
                    </p>
                </li>
                <li class="py-1 px-4">
                    <ul class="list-disc text-sm text-gray-500 dark:text-gray-400">
                        <li class="py-1">Udemy Angular Complete Course</li>
                        <li class="py-1">Creating a featureful website that can create and list recipes with ingredients, descriptions, and pictures. Users can add ingredients to a shopping list directly from a recipe or manually.</li>
                        <li class="py-1">Final stages will allow the program to save and load the data using Firebase.</li>
                        <li class="py-1">Key Skills: Angular, Typescript, HTML, CSS, Bootstrap</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="p-4 md:w-8/12 mx-auto my-1 bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex justify-between items-center mb-4">
            <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Work Experience</h5>
        </div>
        <div class="flow-root">
            <ul role="list" class="">
                <li class="py-1">
                    <div class="flex items-center justify-between">
                        <p class="text-sm font-medium text-gray-900  dark:text-white">
                            UML NERVE Center, Lowell, Massachusetts
                        </p>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            June 2021-Present
                        </div>
                    </div>
                </li>
                <li class="py-1">
                    <p class="text-sm font-medium text-gray-900  dark:text-white">
                        Robotics Intern
                    </p>
                </li>
                <li class="py-1">
                    <p class="text-sm text-gray-500  dark:text-gray-400">
                        Stretch RE1 - Autonomous Robot Assistant for People with Disabilities
                    </p>
                </li>
                <li class="py-1 px-4">
                    <ul class="list-disc text-sm text-gray-500 dark:text-gray-400">
                        <li class="py-1">Developed software using ROS and Stretch platform for mapping, object location and grasping objects autonomously for assisting people in a wheelchair.</li>
                        <li class="py-1">Upstreamed code to official Stretch RE1 repository.</li>
                        <li class="py-1">Worked on a team to create a complete experience for the user.</li>
                        <li class="py-1">Languages: C++, Python</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>