<div class="container m-auto pb-4">
    <div class="m-auto flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:w-8/12 dark:border-gray-700 dark:bg-gray-800">
        <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="assets/img/Headshot.png" alt="Nathan Wright">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Nathan Wright - Computer Science - Data Science</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Hi, I am Nathan Wright. I am a sophomore computer science student with a concentration in data science. I am actively looking for a July-December Software Engineering Co-op. 
                I grew up in Milford, NH and found a passion for programming in highschool taking a few course in Java. I love being able to create and solve problems seemingly out of nothing.
                In the future, I am looking to be a full time software developer. I would like to be able to write solid code which end users do not have to complain about or get frustrated with.
                I value being able to make a solid product that people can depend on. I hope you like what you see and will give me a shot.
            </p>
        </div>
    </div>
    <ol class="relative border-l border-gray-200 dark:border-gray-700 w-8/12 m-auto mt-2">                  
        <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">July-December 2022</time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Software Engineering Co-op</h3>
            <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Find and acquire Software Engineering Co-op</p>
        </li>
        <li class="ml-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">May 2024</time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Graduate University of Massachusetts Lowell</h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Complete Computer Science degree and look for Software Engineering Jobs</p>
        </li>
    </ol>
</div>